// sitewide variables
$backgroundColor: #f1f1f1;
$listItemWidth: 350px;
$smallerTextBreakpoint: 500px;
$mobileBreakpoint: 700px;
$tabletBreakpoint: 900px;

// put your styles here

* {

  &,
  &::after,
  &::before {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    /* padding doesn't add to width with border-box */
  }
}

img {
  display: block;
}

html {
  font-size: 10px;
}

body {
  font-size: 18px;
  font-family: serif;
  // padding: 0 40px;
  background: $backgroundColor;
}

body:not(.user-is-tabbing) {

  // nicer styling for non-accessibility users
  select,
  button {
    outline: none;
  }
}

@media only screen and (max-width: $smallerTextBreakpoint) {
  body {
    font-size: 12px
  }
}

main {
  margin-top: calc(5% + 40px);
  margin-left: 40px;
  margin-right: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sans-serif {
  font-family: sans-serif;
}

img {
  display: inline-block;
}

h2 {
  /*margin: 1.5em 10px;
  padding: 0.5em 10px;
  */
  font-size: 12pt;
  font-weight: normal;

}

h3 {
  font-family: sans-serif;
  margin-bottom: 0.2em;
}

a:visited {
  color: blue;
}

/*a:hover {
	color: red;	
}*/

a:hover {
  background-color: blue;
  color: white;
}

a.no-hover:hover {
  background-color: transparent;
}

option[value=""][disabled] {
  display: none;
}

select {
  font-family: serif;
  font-size: inherit;
  background: inherit;
  background-color: inherit;
  border: none;
  border-radius: 0;
}


// nav
nav#nav {
  width: 100%;
  position: fixed;
  top: 1px;
  margin-top: .3em;
  margin-bottom: .3em;
  z-index: 100;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;

  >div {
    padding-left: 20px;
    padding-right: 20px;
  }

  span {
    font-weight: normal;
  }
}

@media only screen and (max-width: $smallerTextBreakpoint) {
  nav#nav {
    font-size: 1.4em;
  }
}


nav#pagination {
  display: flex;
  justify-content: center;
}

// home
#home,
#collection {
  max-width: 800px;
  margin: auto;

  @media only screen and (max-width: $mobileBreakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width: $mobileBreakpoint) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }



  .product {

    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $listItemWidth;

    img {
      width: 100%;
      border-radius: 2px;
      max-width: $listItemWidth;
    }
  }
}

// product
#product-page {
  .hide {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  button {
    font-family: serif;
    font-size: inherit;
    background: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }

  #AddToCart {
    transition: transform 0.1s cubic-bezier(.3, 0, .45, 1);
  }

  #AddToCart:hover {
    transition: transform 0.1s cubic-bezier(.3, 0, .45, 1);
    transform: scale(1.05);
  }

  #product-title {
    font-weight: bold;
    font-size: 1.1em;
  }

  @media only screen and (min-width: $tabletBreakpoint) {
    #product-details {
      position: fixed;
      top: 50%;
      transform: translateY(-50%) translateZ(0);
      right: 0;
      width: 33%;
      text-align: center;
    }

    #product-images {
      img {
        cursor: zoom-in;
      }

      width: 66%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .img-wrapper {
        height: 75vh;
        // margin-bottom: 40px;
      }

      img {
        max-height: 75vh;
        height: 100%;
        max-width: 100%;
        margin: 0 auto;
        object-fit: contain;
        display: block;
      }
    }
  }


  @media only screen and (max-width: $tabletBreakpoint) {
    #featured-image {
      display: none;
      height: 0;
      width: 0;
      visibility: hidden;
    }
  }
}

// product modal
#product-modal {
  display: none;
  visibility: hidden;

  @media only screen and (min-width: $tabletBreakpoint) {
    &.open {
      min-height: 100%;
      height: auto;
      display: flex;
      visibility: visible;
      top: 0;
      top: -8000
    }

    z-index: -50;
    display: none;
    visibility: hidden;
    z-index: 50;
    height: 0;
    cursor: zoom-out;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor;

    .img-wrapper {
      height: 100vh;
    }

    img {
      height: 100%;
      width: auto;
      max-height: 100vh;
      max-width: 100%;
    }
  }
}