<div id="contact">
  <div class="row-collapse">
    <div class="larger-text">
      <p>
        <span class="h3">
          <a 
            href="http://metissuns.com"
            target="_blank" 
            rel="noopener noreferrer" 
          >Metis Suns</a>
          </span>&nbsp;is a production company dedicated to worlding and worlding literacy
      </p>
      <br/>
      <p>
        Metis Suns produces stories, simulations, and artificial life.
      </p>
      <br/>
      <p>
        All enquiries:<br/>
        office@metissuns.com
      </p>
      <br/>
    </div>
    <div>{{ page.content }}</div>
  </div>
</div>